<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio IFPB</title>
    <link rel="stylesheet" href="/src/style.css">
    <script src="tcc/script.js"></script>
</head>

<body>
<%- include('templates/header')%>
<footer>
    <p>&copy; 2024 IFPB-PI. Todos os direitos reservados.</p>
</footer>
    
</body>
</html>
