<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tcc/css/style2.css">
    <title>Sexta-feira</title>
</head>
<body>
<div class="titulo">
     <h1>Sexta-feira</h1>
</div>
<br>
<div class="div1">
    <main>
        <section class="menu">
            <h2>Lanche (Manhã)</h2>
            <ul>
                <li>Melancia</li>
                <li>Bolacha</li>
                <li>Suco de Goiaba</li>
            </ul>
        </section>
    </main>
</div>
<div class="div2">
    <main>
        <section class="menu">
            <h2>Lanche (Tarde)</h2>
            <ul>
                <li>Melancia</li>
                <li>Bolacha</li>
                <li>Suco de Goiaba</li>
            </ul>
        </section>
    </main>
</div>
<div class="div3">
    <main>
        <section class="menu">
            <h2>Almoço</h2>
            <ul>
                <li>Arroz</li>
                <li>Feijão</li>
                <li>Frango Grelhado</li>
                <li>Salada de Alface e Tomate</li>
                <li>Suco de Laranja</li>
            </ul>
        </section>
    </main>
</div>

<div class="div4">
    <main>
        <section class="menu">
            <h2>Jantar</h2>
            <ul>
                <li>Arroz</li>
                <li>Feijão</li>
                <li>Frango Grelhado</li>
                <li>Salada de Alface e Tomate</li>
                <li>Suco de Laranja</li>
            </ul>
        </section>
    </main>
</div>
</body>
</html>