<header>
        <nav class="nav-bar">
            <div class="logo">
                <h1>Cardápio IFPB</h1>
            </div>
            <div class="nav-list">
                <ul>
                <li class="nav-item"><a href="/segunda-feira" class="nav-link">Segunda-feira</a></li>
                <li class="nav-item"><a href="/terca-feira" class="nav-link">Terça-feira</a></li>
                <li class="nav-item"><a href="/quarta-feira" class="nav-link">Quarta-feira</a></li>
                <li class="nav-item"><a href="/quinta-feira" class="nav-link">Quinta-feira</a></li>
                <li class="nav-item"><a href="/sexta-feira" class="nav-link">Sexta-feira</a></li>
                </ul>
            </div>
            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="tcc/img/menu_white_36dp.svg" alt=""></button>
            </div>
        </nav>

        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="index2.html" class="nav-link">Segunda-feira</a></li>
                <li class="nav-item"><a href="index3.html" class="nav-link">Terça-feira</a></li>
                <li class="nav-item"><a href="index4.html" class="nav-link">Quarta-feira</a></li>
                <li class="nav-item"><a href="index5.html" class="nav-link">Quinta-feira</a></li>
                <li class="nav-item"><a href="index6.html" class="nav-link">Sexta-feira</a></li>
            </ul>
        </div>
</header>